p{
	font-size: 15px;
}
body{
	background-color: pink;
	color: #fff;
	text-align: center;
}
h1{
	font-size: 40px;
	margin-top: 280px;
}
h2{
	font-size: 25px;
	font-weight: bolder;
	color: white;
}
.link-item{
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
	color: white;
	text-decoration: none;
	font-size: 14px;
}
